---
import DashBoardLayout from "../../../layouts/dashboard/DashBoardLayout.astro";
import DashboardNav from "../../../components/DashboardNav.astro";
import UsersList from "../../../components/UsersList.astro";
---

<DashBoardLayout title="Usuarios">
    <div class="w-full md:max-w-7xl mx-auto flex mt-4 flex-col relative">
        <div class="flex flex-col justify-center items-start gap-3 my-3 w-full md:w-7xl mx-auto">
            <a href="/dashboard" class="flex flex-row justify-center items-center gap-2 px-4 py-3 rounded-md hover:bg-gray-200 cursor-pointer transition-all group">
                <i class="icon-[line-md--arrow-left] text-sm group-hover:-translate-x-0.5 transition-transform" />
                Volver a los pedidos
            </a>
        </div>
        <header
            class="flex flex-col gap-3 my-7 w-full md:w-7xl mx-auto"
        >
            <h1
                class="text-4xl font-semibold tracking-wide text-gray-900 uppercase animate-fade-in"
            >
                Listado de usuarios
            </h1>
            <p
                class="text-gray-600 text-base max-w-3xl leading-relaxed animate-fade-in animate-delay-100"
            >
                Lista de usuario registrados
            </p>
        </header>
        <DashboardNav />
        <UsersList className="w-full flex flex-col pb-10" />
    </div>
</DashBoardLayout>
