---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Política de privacidad">
    <div class="flex flex-col min-h-screen pt-15 w-full px-4 bg-gray-50">
        <div class="w-full max-w-6xl mx-auto flex flex-col justify-center items-start">
            <div class="w-full flex justify-start items-center pt-10 pb-4">
                <h1 class="text-black text-[25px] md:text-[28px] tracking-[0.8px] uppercase">
                    Política de privacidad
                </h1>
            </div>

            {/* INTRODUCCIÓN */}
            <div class="flex">
                <div class="text-black/60 tracking-[0.5px] text-[12px]">
                    <span>
                        El presente Política de Privacidad establece los términos en que Joan Olivé, S.L. usa y protege la información que es proporcionada por sus usuarios al momento de utilizar su sitio web. Esta compañía está comprometida con la seguridad de los datos de sus usuarios. 
                    </span>
                    <span>
                        Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento.
                    </span> 
                    <span>
                        Sin embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios.
                    </span>
                </div>
            </div>

            {/* INFORMACIÓN QUE ES RECOGIDA */}
            <div class="flex flex-col pt-8 gap-1">
                <header class="mb-2">
                    <h2 class="text-[#013485] text-[13px] font-semibold">
                        Información que es recogida
                    </h2>
                </header>

                <p class="text-black/60 tracking-[0.5px] text-[12px]">
                    Nuestro sitio web podrá recoger información personal por ejemplo: Nombre, información de contacto como su dirección de correo electrónica, número de teléfono e información demográfica. Así mismo cuando sea necesario podrá ser requerida información específica para procesar algún pedido o realizar una entrega o facturación.
                </p>
            </div>

            {/* USO DE LA INFORMACIÓN RECOGIDA */}
            <div class="flex flex-col pt-8">
                <header class="mb-2">
                    <h2 class="text-[#013485] text-[13px] font-semibold">
                        Uso de información recogida
                    </h2>
                </header>
                <div class="text-black/60 tracking-[0.5px] text-[12px]">
                    <span>
                        Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible, particularmente para mantener un registro de usuarios, de pedidos en caso que aplique, y mejorar nuestros productos y servicios.
                    </span>
                    <span>
                        Es posible que sean enviados correos electrónicos periódicamente a través de nuestro sitio con ofertas especiales, nuevos productos y otra información publicitaria que consideremos relevante para usted o que pueda brindarle algún beneficio, estos correos electrónicos serán enviados a la dirección que usted proporcione y podrán ser cancelados en cualquier momento.
                    </span> 
                    <span>
                        Joan Olivé, S.L. está altamente comprometido para cumplir con el compromiso de mantener su información segura. Usamos los sistemas más avanzados y los actualizamos constantementes.
                    </span>
                </div>
            </div>

            {/* COOKIES */}
            <div class="flex flex-col pt-8">
                <header class="mb-2">
                    <h2 class="text-[#013485] text-[13px] font-semibold">
                        Cookies
                    </h2>
                </header>
                <div class="text-black/60 tracking-[0.5px] text-[12px] flex flex-col w-full gap-5">
                    <p class="text-black/60 tracking-[0.5px] text-[12px]">
                        Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para almacenarse en su ordenador, al aceptar dicho fichero se crea y la cookie sirve entonces para tener información respecto al tráfico web, y también facilita las futuras visitas a una web recurrente. Otra función que tienen las cookies es que con ellas las web pueden reconocerte individualmente y por tanto brindarte el mejor servicio personalizado de su web. Nuestro sitio web emplea las cookies para poder identificar las páginas que son visitadas y su frecuencia
                    </p>

                    <p class="text-black/60 tracking-[0.5px] text-[12px]">
                        Esta información es empleada únicamente para análisis estadístico y después la información se elimina de forma permanente. Usted puede eliminar las cookies en cualquier momento desde su ordenador. Sin embargo las cookies ayudan a proporcionar un mejor servicio de los sitios web, estás no dan acceso a información de su ordenador ni de usted, a menos de que usted así lo quiera y la proporcione directamente.
                    </p>

                    <p class="text-black/60 tracking-[0.5px] text-[12px]">
                        Usted puede aceptar o negar el uso de cookies, sin embargo la mayoría de navegadores aceptan cookies automáticamente pues sirve para tener un mejor servicio web. También usted puede cambiar la configuración de su ordenador para declinar las cookies. Si se declinan es posible que no pueda utilizar algunos de nuestros servicios.
                    </p>
                </div>
            </div>

            {/* ENLACES A TERCEROS */}
            <div class="flex flex-col pt-8">
                <header class="mb-2">
                    <h2 class="text-[#013485] text-[13px] font-semibold">
                        Enlaces a terceros
                    </h2>
                </header>
                <div class="text-black/60 tracking-[0.5px] text-[12px] flex flex-col w-full gap-5">
                    <p class="text-black/60 tracking-[0.5px] text-[12px]">
                        Este sitio web pudiera contener en laces a otros sitios que pudieran ser de su interés. Una vez que usted de clic en estos enlaces y abandone nuestra página, ya no tenemos control sobre al sitio al que es redirigido y por lo tanto no somos responsables de los términos o privacidad ni de la protección de sus datos en esos otros sitios terceros. Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los consulte para confirmar que usted está de acuerdo con estas.
                    </p>
                </div>
            </div>

            {/* CONTROL DE SU INFORMACIÓN PERSONAL */}
            <div class="flex flex-col pt-8">
                <header class="mb-2">
                    <h2 class="text-[#013485] text-[13px] font-semibold">
                        Control de su información personal
                    </h2>
                </header>
                <div class="text-black/60 tracking-[0.5px] text-[12px] flex flex-col w-full gap-2.5">
                    <p class="text-black/60 tracking-[0.5px] text-[12px]">
                        En cualquier momento usted puede restringir la recopilación o el uso de la información personal que es proporcionada a nuestro sitio web.
                    </p>

                    <p class="text-black/60 tracking-[0.5px] text-[12px]">
                        Cada vez que se le solicite rellenar un formulario, como el de alta de usuario, puede marcar o desmarcar la opción de recibir información por correo electrónico. En caso de que haya marcado la opción de recibir nuestro boletín o publicidad usted puede cancelarla en cualquier momento.
                    </p>

                    <p class="text-black/60 tracking-[0.5px] text-[12px]">
                        Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento, salvo que sea requerido por un juez con un orden judicial. Joan Olivé, S.L. Se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento.
                    </p>
                </div>
            </div>


            {/* REFERNCIA A */}
            <div class="w-full flex flex-row gap-2 justify-center items-center py-10">
                <p class="text-black/60 text-sm text-center md:text-left">
                    Ésta política de privacidad se basa en política de privacidad de pedidos Joan Olivé junto con la base de la información de la privacidad de la página web principal de 
                    <a href="https://joanolive.com/politica-privacidad" class="px-1 mt-7 md:mt-0 md:text-black/60 text-blue-950 hover:text-blue-950 transition-all hover:underline flex justify-center items-center flex-row gap-1 group" target="_blank">
                        Joan Olivé, S.L.
                        <i class="icon-[mynaui--external-link] text-[11px] transition-transform group-hover:translate-x-px group-hover:-translate-y-px" />
                    </a>
                </p>
            </div>
        </div>
    </div>
</Layout>